body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
  padding-bottom: 160px;
}

.header-content {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  color: #F9FAF8;
  font-size: 24px;
}

nav ul {
  display: flex;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.hero {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.hero-left {
  flex: 0 0 500px;
}

.hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: extra-bold;

}

.hero p {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 6px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.hero-right {
  align-self: stretch;
  flex: 1;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  color: #E5E7EB;
}

.information {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 96px;
}

.information h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin-bottom: 48px;
}

.information ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.information li {
  flex-basis: 200px;
}

.information img {
  border: 4px solid #3882F6;
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.information p {
  color: lightslategray;
}

.quote {
  background-color: #E5E7EB;
  padding: 64px 0;
}

.quote-content {
  width: 60%;
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-attribution {
  font-weight: bold;
  text-align: right;
}

.call-to-action{
  margin-top: 64px;
  margin-bottom: 64px;
}

.call-to-action-content {
  background-color: #3882F6;
  color: #F9FAF8;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-to-action button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: solid #F9FAF8 2px;
  padding: 4px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.call-to-action-call {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.call-to-action-info {
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
}

footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

footer p {
  color: #E5E7EB;
}